.bodyt{
	margin-left: 1%;
	margin-right: 1%;
}

.imgc{
	width: 100%
	hieght: auto;
}

.img{
	margin-top: none;
	width: 100%;
}

.c1{
	width: 112%;
	background-color: red;
}

.c2{
	width: 30%;
	background-color:white;
	height: auto;
	float:left; 
}

.c3{
	width: 98%;
	height: auto;
}

.baixo{
	margin-top: 22%;
}

.c3 {
    transition: transform .2s;
    margin: 0 auto;
}

.c3:hover {
    transform: scale(1.5);
}